:root {
  --default-font-family: "Titillium Web", sans-serif;
  --header-font-family: "Bree Serif", serif;
  --primary-color: #eadbe0;
  --secondary-color: #d6afbc;
  --border-color: #6d555d;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

footer {
  background: #f3f1f1;
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: unset;
}

.navigation {
  font-family: var(--header-font-family);
  max-width: 990px;
}

.nav-menu {
  padding-left: 500px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--border-color);
}

.navi-background {
  background: var(--primary-color);
}

.hero {
  text-align: center;
  padding: 100px 0;
  background: var(--primary-color);
  font-weight: bold;
  line-height: 1.5;
}

.hero-button {
  border: 1px solid var(--border-color);
  background: transparent;
  font-weight: bolder;
  transition: all 150ms ease-in-out;
}

.hero-button:hover {
  background: var(--secondary-color);
  color: white;
  border: white;
  box-shadow: 2px 2px 2px grey;
}

.about-content {
  padding: 80px 0;
}
.about-content h1 {
  font-size: 40px;
  text-align: left;
}

.about-content h2 {
  font-size: 25px;
  text-align: left;
}

.about-content p {
  text-align: left;
}

.project-wrapper {
  text-align: center;
  background: var(--primary-color);
  box-shadow: 5px 5px 5px rgb(212, 210, 210);
  padding: 25px 0;
  border-radius: 4px;
  max-width: 90%;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}

.project-wrapper:hover {
  box-shadow: 10px 10px 10px grey;
}

.about-img {
  max-width: 80%;
  text-align: center;
}

#recent-projects h3 {
  text-align: center;
}

.social-icons a {
  padding: 0 10px;
  font-size: 25px;
}

.work-inquiry {
  border: 1px solid var(--border-color);
  padding: 20px;
  text-align: center;
  max-width: 80%;
}

.contact-button {
  border: 1px solid var(--border-color);
  background: var(--secondary-color);
  padding: 5px 30px;
  margin-top: 25px;
  box-shadow: 2px 2px 2px grey;
  font-weight: 600;
  transition: all 150ms ease-in-out;
}

.contact-button:hover {
  background: #f3f1f1;
  box-shadow: 2px 2px 2px rgb(53, 50, 50);
}

#footer {
  text-align: center;
}

#work-header {
  font-size: 30px;
}

#my-work {
  max-width: 1200px;
}

#my-work h1 {
  font-size: 50px;
  text-align: center;
}

.contact-page {
  padding: 100px 0;
  text-align: center;
}

.contact-page h1 {
  font-size: 50px;
}

.contact-page a {
  font-size: 20px;
}

.copyright {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #f3f1f1;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  .nav-menu {
    padding-left: 0;
  }
  .hero {
    padding: 40px 0;
    background: var(--primary-color);
    font-weight: bold;
  }
  .project-wrapper {
    padding: 20px 0;
    border-radius: 4px;
    max-width: 100%;
    margin: 10px auto;
  }

  .about-content {
    padding: 0;
  }
  .about-content h1,
  .contact-page h1 {
    font-size: 35px;
    text-align: center;
  }

  .about-content h2 {
    font-size: 25px;
    text-align: center;
  }

  .about-content p {
    text-align: center;
  }

  .about-content a {
    display: block;
    margin: 0 auto;
  }

  .about-img {
    max-width: 100%;
    margin-top: 30px;
  }
  .contact-button {
    padding: 5px 10px;
    margin-top: 0;
  }

  .work-inquiry {
    padding: 0px;
    text-align: center;
    max-width: 50%;
    margin: 20px 40px;
  }

  .social-media {
    margin-top: 20px;
  }
  #work-header {
    font-size: 20px;
  }
  #my-work img {
    display: none;
  }

  #my-work a {
    display: block;
    margin: 0 auto;
  }
}
