:root {
  --default-font-family: "Titillium Web", sans-serif;
  --header-font-family: "Bree Serif", serif;
  --primary-color: #eadbe0;
  --secondary-color: #d6afbc;
  --border-color: #6d555d;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: 85px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

footer {
  background: #f3f1f1;
  padding: 50px 0;
}

.hero {
  text-align: center;
  padding: 100px 0;
  background: var(--primary-color);
  font-weight: bold;
  line-height: 1.5;
}

.hero-button {
  border: 1px solid var(--border-color);
  background: transparent;
}

.hero-button:hover {
  background: var(--secondary-color);
  color: white;
}

.project-wrapper {
  text-align: center;
  background: var(--primary-color);
  padding: 25px 0;
  border-radius: 4px;
  max-width: 90%;
  margin: 0 auto;
}

.project-wrapper a {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  .hero {
    padding: 40px 0;
    background: var(--primary-color);
    font-weight: bold;
  }
  .project-wrapper {
    padding: 20px 0;
    border-radius: 4px;
    max-width: 100%;
    margin: 10px auto;
  }
}

.social-icons i {
  padding: 0 10px;
}

.social-icons a {
  color: black;
}

.work-inquiry {
  border: 1px solid black;
  padding: 20px;
}
